[submodule "include/cli-tools-atlas"]
	path = include/cli-tools-atlas
	url = git://github.com/specht/cli-tools-atlas.git
[submodule "include/proteomics-knowledge-base"]
	path = include/proteomics-knowledge-base
	url = git://github.com/specht/proteomics-knowledge-base.git
